#procaptcha_container {
    width: 360px;
    padding: 10px;
    border: 1px solid #b9b9b9;
}

.procaptcha {
    width: 360px;
    color: #b9b9b9;
}

.procaptcha img {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

.procaptcha .refresh {
    display: block;
    background: url('/images/refresh.png') no-repeat;
    height: 60px;
    width: 60px;
}

.procaptcha label {
    display: block;
    font-size: 10px;
    color: #999;
    font-family: Arial;
    padding: 3px 0;
}

.procaptcha input {
    width: 100%;
    border: 1px solid #b9b9b9;
    color: #999;
    height: 25px;
    font-size: 12pt;
}

.procaptcha span {
    display: block;
    font-size: 10px;
    color: #999;
    font-family: Arial;
    text-align: right;
    padding: 3px 0 0 0;
}